<div id="stars">
    Put stars here
    <div data-ng-include="'/app/layout/shell.html'"></div>
</div>

<script src="scripts/toastr.js"></script>
<script src="scripts/moment.js"></script>
<script src="scripts/ui-bootstrap-tpls-0.10.0.js"></script>
<script src="scripts/spin.js"></script>

<!-- Bootstrapping -->
<script src="app/app.js"></script>
<script src="app/config.js"></script>
<script src="app/config.exceptionHandler.js"></script>
<script src="app/config.route.js"></script>

<!-- common Modules -->
<script src="app/common/common.js"></script>
<script src="app/common/logger.js"></script>
<script src="app/common/spinner.js"></script>

<!-- common.bootstrap Modules -->
<script src="app/common/bootstrap/bootstrap.dialog.js"></script>

<!-- app -->
<script src="app/skymap/skymap.js"></script>
<script src="app/cards/cards.js"></script>
<script src="app/layout/shell.js"></script>
<script src="app/layout/sidebar.js"></script>

<!-- app Services -->
<script src="app/services/datacontext.js"></script>
<script src="app/services/directives.js"></script>