<section id="cards-view" class="mainbar" data-ng-controller="cards as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <!--<div class="col-md-6">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="People"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="p in vm.cards">
                                        <td>{{p.firstName}}</td>
                                        <td>{{p.lastName}}</td>
                                        <td>{{p.age}}</td>
                                        <td>{{p.location}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>-->
                <div class="col-md-4 flip-container" data-ng-repeat="c in vm.cards">
                    <div class="widget {{ c.flipped ? 'flipped' : '' }}" id="card">
                        <a ng-click=" vm.onHeaderClick(c)">
                            <div data-cc-widget-header title="{{c.name}}" carma="{{c.carma.amount}}"
                                 allow-collapse="false">
                            </div>
                        </a>
                        <div class="widget-content text-center text-info front">
                            <small>{{c.description}}</small>
                            <img src="{{c.photos[0].url}}">
                        </div>
                        <div class="widget-content text-center text-info back">
                            <small>{{c.lat}}</small>
                            <small>{{c.lng}}</small>
                        </div>
                        <div class="widget-foot" id="flipper">
                            <a id="flip" ng-click="vm.onFlipCard(c)">{{ c.flipped ? 'Flip the card back' : 'Flip the card' }}</a>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>